* {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.main {
    min-height: 20rem;
}

.section.main {
    padding: 5rem 0;
}

.header-and-hero-container {
    background-color: #4A503D;
}

.header,
.footer {
    justify-content: space-between;
    color: #fbf2db;
    background-color: #4A503D;
    min-height: 4rem;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.hero {
    color: #fbf2db;
    background-color: #4A503D;
    gap: 2rem;
}

.discription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    justify-content: start;
    margin-bottom: 3rem;
}

.button {
    border: 5px solid #e38f84;
    background-color: #e38f84;
    color: white;
    font-weight: 800;
    border-radius: 10px;
    padding: 0.2rem 2rem;
    margin-top: 1rem;
}

.pic {
    flex-shrink: 0;
    background-color: #8d9775;
    width: 50%;
    height: 15rem;
}

.info-container {
    background-color: white;
    
}

.section.info {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 60%;
}

.cards {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.card-and-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-pic {
    width: 10rem;
    height: 10rem;
    border: 5px solid #e38f84;
    border-radius: 15px;
}

.quote {
    background-color: #8d9775;
}

.action {
    background-color: white;
}

.footer {
    justify-content: center;
}

li {
    display: inline-block;
}

h1,
h2,
.logo {
    font-family: 'Playfair Display', serif;
    color: white;
    font-weight: 800;
}

.logo {
    font-size: 1.5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    color: #4A503D;
    padding-bottom: 2.5rem;
}

@media only screen and (min-width: 1021px) {
    .section {
        width: 1020px;
        margin: 0 auto;
    }
}