* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main {
    min-height: 22rem;
}

.section.main {
    padding: 5rem 0;
}

.header-and-hero-container,
.header,
.footer-container,
.footer {
    background-color: #4A503D;
}

.header,
.footer {
    justify-content: space-between;
    color: #fbf2db;
    min-height: 4rem;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.section.hero {
    display: flex;
    color: #fbf2db;
    background-color: #4A503D;
    gap: 2rem;
}

.discription {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    justify-content: start;
    margin-bottom: 3rem;
}

.button {
    border: 5px solid #e38f84;
    background-color: #e38f84;
    color: white;
    font-weight: 800;
    border-radius: 10px;
    padding: 0.2rem 2rem;
    margin-top: 1rem;
}

.pic {
    background-color: #8d9775;
    width: 50%;
    height: 15rem;
}

.section.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.cards {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.card-and-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4A503D;
}

.card-pic {
    width: 10rem;
    height: 10rem;
    border: 5px solid #e38f84;
    border-radius: 15px;
}

.quote-container,
.quote {
    background-color: #fbf2db;
}

.section.quote {
    display: flex;
    flex-direction: column;
    color: #4A503D;
    font-family: 'Lora', serif;
}

.section.quote > .quote-text {
    font-size: 2rem;
    font-style: italic;
    text-align: start;
}

.section.quote > .quote-author {
    align-self: flex-end;
}

.footer {
    justify-content: center;
}

li {
    display: inline-block;
}

h1,
h2,
.logo,
.quote-author {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 1.5rem;
}

.logo {
    color: white;
}

h1 {
    font-size: 3rem;
    color: white;
}

h2 {
    color: #4A503D;
    font-size: 2rem;
    padding-bottom: 2.5rem;
}

@media only screen and (min-width: 1021px) {
    .section {
        width: 1020px;
        margin: 0 auto;
    }
    .section.info {
        width: 60%;
    }
    .section.quote {
        width: 50%;
    }
}